#include <iostream>
using namespace std;

int main()
{
	int smallest,divisor=1, i;
	bool found = false;

	while (!found)
	{
		for (i = 1; i <= 20; i++)
		{
			if (divisor%i != 0)
				break;
		}
		if (i == 21)
		{
			smallest = divisor;
			found = true;
		}
		else
			divisor++;
	}

	cout << "Smallest Multple: "<<smallest << endl;

	system("PAUSE");
	return 0;
}
